@use '../helpers' as *;

.cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: rem(24);
  background-color: white;
  border-radius: 12px;

  &__title {
    font-size: rem(24);
    font-weight: 700;
    color: var(--color-red);
    margin-bottom: rem(24);
  }

  &__empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    padding-block: rem(16);

    & p {
      font-size: rem(14);
      font-weight: 600;
      color: var(--color-rose-500);
      text-align: center;
    }
  }

  &__empty-image {
    width: rem(128);
    height: rem(128);
  }
}