@use '../helpers' as *;


.container {
  display: flex;
  width: var(--container-width);
  // noinspection CssInvalidPropertyValue
  margin: rem(88) auto;
  // noinspection CssInvalidPropertyValue
  gap: rem(32);
}

.products {
  display: flex;
  flex-direction: column;

  &__title {
    // noinspection CssInvalidPropertyValue
    font-size: rem(40);
    font-weight: 700;
    color: var(--color-rose-900);
    // noinspection CssInvalidPropertyValue
    margin-bottom: rem(32);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // noinspection CssInvalidPropertyValue
    gap: rem(32) rem(24);
  }

  &__card {


    &-image img{
      // noinspection CssInvalidPropertyValue
      border-radius: rem(8);
    }
  }
}
