
@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/red-hat-text-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/red-hat-text-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/red-hat-text-700.woff2') format('woff2');
}